body {
  font-family: Helvetica;
  background-color: MediumSeaGreen;
}

h1 {
  font-family: 'Kodchasan', Helvetica;
  color: PaleGreen;
  margin-left: 40px;
}
p {
  font-family: 'Zilla Slab', Helvetica;
  color: LavenderBlush;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.r90{
  transform: rotate(90deg);
}
img{
  width: 300px;

}
